FRITZ_HOST=http://192.168.178.1
FRITZ_USER="Fritz Strom"
FRITZ_PASSWORD=your_password_here

# AIN-Zuordnung: Kommaseparierte Liste von label:ain
# Beispiel: Einspeisung:16000 0031287,Verbrauch:16000 0031288
FRITZ_AINS=Einspeisung:16000 0031287
